.group-node-render {
    border-radius: 8px;
    outline: 1px solid #469ed157;
}

.group-node-header {
    width: 80px;
    height: 30px;
    background-color: #ff3200;
    border-radius: 8px;
}

.group-node-background {
    position: absolute;
    pointer-events: none;
    top: 0;
    background-color: #469ed157;
    outline: 1px solid #469ed157;
    border-radius: 8px;
}

.group-node-render.selected .group-node-background {
    outline: 1px solid #00a1ff;
}
